.uniform_selection_of_astronauts {
	margin-top: 5%;
	margin-left: 10%;
	text-align: center;
	background: #faefeb;
	width: 300px;
	height: 900px;
	padding-top: 2%;
	border-radius: 20px;
}

form div {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}

.div_info {
	text-align: left;
}
