.navigation {
	height: 100px;
/*	width: 1300px;*/
/*	margin: auto;*/
	border: 1px solid black;
	background: Gainsboro;
}

a {
	color: DarkGrey	;
}
a:hover {
	color: DimGrey;
}

div .nav_link {
	font-size: 40px;
	margin-Left: 200px;
}